*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    text-decoration: none;
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
    background-color: #000000;
}

.header{
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
}

section {
    width: 1440px;
    height: 336px;
}

.header_ul{
    list-style: none;
    display: flex;
    gap: 34px;
}

.header_li a{
    font-family: 'Manrope';
    font-size: 13px;
    line-height: 25px;
    font-weight: 700px;
    text-decoration: none;
    color: #FFFFFF;
}

.link a{
    text-decoration: none;
    font-size: 24px;
    font-family: 'Manrope';
    padding-left: 165px;
    display: flex;
    padding-right: 197px;
 
}

.header-img{
    padding-right: 165px;
}

.line{
    background-color: #FFFFFF;
    margin: 0 auto;
    margin-top: 36px;
    opacity: 20%;
    width: 1110px;
    height: 1px;
    
}

.h1-text{
    margin-top: 98px;
    font-family: 'Manrope';
    font-size: 40px;
    line-height: 44px;
    font-weight: 700px;
    letter-spacing: 1.43px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.main-container{
    margin: 0 auto;
    margin-top: 160px;
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
    margin-top: 160px;
}

.section{
    display: flex;
    justify-content: start;
}

.section-card{
    margin-top: 109px;
    margin-left: 125px;
}

.section-text{
    font-family: 'Manrope';
    font-size: 14px;
    line-height: 19.12px;
    font-weight: 400px;
    letter-spacing:10px;
    color: #D87D4A;
    padding-bottom: 16px;
}

.section-title{
    font-family: 'Manrope';
    font-size: 40px;
    line-height: 44px;
    font-weight: 700px;
    letter-spacing:1.43px;
    color: #000000;
    width: 445px;
    padding-bottom: 32px;
    
}

.section-title1{
    font-family: 'Manrope';
    font-size: 15px;
    line-height: 25px;
    font-weight: 400px;
    width: 445px;
    padding-bottom: 32px;
    color: #000000;
    margin-bottom: 40px;
    opacity: 0.5;
}

.section-link{
    font-family: 'Manrope';
    font-size: 13px;
    line-height: 17.76px;
    font-weight: 700px;
    text-decoration: none;
    letter-spacing:1px;
    color: #FFFFFF;
    background-color: #D87D4A;
    padding: 15px 29.5px 15px 31.5px;
    border-radius: 5px;
    transition: all 1.5s linear;
}

.section-link:hover{
    border: 1.5px solid #d2d2d2;
background-color: #FFFFFF;
color: #D87D4A;
}

.section-img{
    margin-left: 125px;
}

.section{
    margin-top: 160px;
}

.section-lable{
    margin-top: 160px;
}

.hero{
    position: relative;
    margin-top: 160px;
    margin-left: 100px;
}

.hero-lable{
    background-image: url("../images/Mask.png");
    position: relative;
    width: 350px;
}

.hero-card{
    display: flex;
}

.hero-img{
    position: absolute;
    left: 113px;
    bottom: 124px;
}

.hero-lable{
    padding-left: 108.5px;
    padding-top: 116px;
    padding-bottom: 30px;
}

.hero-text{
    font-family: 'Manrope';
    font-weight: 700px;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 1.29px;
    width: 133px;
    color: #000000;
    padding-bottom: 15px;
}

.card-text{
    font-family: 'Manrope';
    font-weight: 700px;
    font-size: 13px;
    line-height: 17.76px;
    letter-spacing: 1px;
    padding-right: 13px;
    padding-left: 25px;
}

.card-img{
   padding-top: 5px;
}

.hero-text{
    font-family: 'Manrope';
    font-weight: 700px;
    font-size: 18px;
    line-height: 24.59px;
    letter-spacing: 1.29px;
}

.hero-blok{
    display: flex;
    width: 100%;
}

.content{
    margin: 160px 165px;
    display: flex;
}

.box{
    margin-top:147px;
    margin-right: 125px;
}

.box-text{
    font-family: 'Manrope';
    font-weight: 700px;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1.43px;
    width: 445px;
    color: #000000;
}

.box span{
    font-family: 'Manrope';
    font-weight: 700px;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1.43px;
    width: 445px;
    color: #D87D4A;
}

.box-title{
    font-family: 'Manrope';
    font-weight: 400px;
    font-size: 15px;
    line-height: 25px;
    width: 445px;
    padding-top: 32px;
    opacity: 0.5;
}

.box-img{
    border-radius: 10px;
}

.footer{
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
}

section {
    width: 1440px;
    height: 336px;
}

.footer-ul{
    list-style: none;
    display: flex;
    gap: 34px;
}

.footer-li a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Manrope';
    font-size: 13px;
    line-height: 25px;
    font-weight: 700px;
}

 .footer-container{
    background-color: #000000;
    max-width:1440px;
    margin: 0 auto;
    margin-top: 2900px;
    padding-top: 75px;
 }   

 .footer-text{
    color: #d1cdcd;
    max-width: 640px;
    padding-left: 160px;
    margin-top: 100px;
    font-family: 'Manrope';
    font-size: 15px;
    font-weight: 400px;
    line-height: 25px;
    opacity: 0.5;
 }

 .link a{
    padding-left: 165px;
    display: flex;
     padding-right: 197px;
     text-decoration: none;
     font-size: 24px;
     font-family: 'Manrope';
    }
    
    .footer-title{
        color: #d1cdcd;
        font-family: 'Manrope';
        font-size: 15px;
        line-height: 25px;
        padding-left: 165px;
        padding-top: 56px;
        opacity: 0.5;
    }
    .facebook {
        margin-left: 1171px;
    }